nav{
    border-bottom: 2px solid black;
}
body {
    width: 1000px;
}
#sidebar {
    float: left;
    width: 148px;
    min-height: 500px;
    border-right: 2px solid black;
}
section {
    float: left;
    width: 830px;
    margin-left: 20px;
}
.btn {
    padding: 20px;
    margin: 0;
    border-color: #9FB80A;
    border-width: 5px;
    color: #9FB80A;;
}
.glyphicon {
    margin-right: 10px;
}
.flash {
    background-color: #98FB98;
    width:100%;
    text-decoration: none;
}
