{% extends "mainPage.html" %}
{% block content %}
{% include "header.html" %}
<div class = 'flash'>
    {% with messages = get_flashed_messages() %}
      {% if messages %}

      <ul>
      {% for message in messages %}
          <li> <strong> {{ message }} </strong> </li>
      {% endfor %}
      </ul>
      {% endif %}
  {% endwith %}
</div>

{% for movie in movies %}
  <div>
    <ul> {{movie.movieName}} </ul>
    <ul> {{movie.directorName}} </ul>
    <ul> {{movie.category}} </ul>
    <ul> {{movie.description}} </ul>
    <ul> {{movie.movieID}} </ul>
    <ul> {{movie.user.name}} </ul>
    <ul> {{movie.user.email}} </ul>
    <ul> {{movie.user.id}} </ul>
    <ul> ************************ </ul>
    </br>
  </div>
{% endfor %}
{% endblock %}
