<!-- author: May Wong -->
{% extends "mainPage.html" %}
{% block content %}
{% include "header.html" %}
{% include "flash.html" %}

<!-- Categories will be displayed on the left side and movie description will be
     displayed on the right side -->
<aside id="sidebar">
  <h3> Categories: </h3>
    {% for c in categories %}
      <ul>
         <a href = "{{url_for('queryCategory', category = c)}}">{{c}}</a>
      </ul>
    {% endfor %}
</aside>
<section>
    <h3> {{category}} </h3>
    {% for m in movieItems %}
      <ul>
         <a href = "{{url_for('movieDetail', category=m.category, movieID=m.movieID)}}">{{m.movieName}}</a>
      </ul>
    {% endfor %}
</section>

{% endblock %}
