<!-- author: May Wong -->
<nav>
<div class="row top-menu">
	<div class="col-md-3">
		<a href="{{url_for('showCatalog')}}">
			<button class="btn btn-default">
				<span class="glyphicon glyphicon-home"></span> Home
			</button>
		</a>
	</div>

  <div class="col-md-6">
			<h1> Movie Item Catalog </h1>
	</div>

	<div class="col-md-3">
				{%if 'username' not in session %}
					<a href="{{url_for('showLogin')}}">
						<button class="btn btn-default">
							<span class="glyphicon glyphicon-user"></span> Login
						</button>
					</a>
				{% else %}
					<a href="{{url_for('disconnect')}}">
						<button class="btn btn-default">
							<span class="glyphicon glyphicon-user"></span> Logout
						</button>
					</a>
				{% endif %}
	</div>
</div>
</nav>
