<!-- author: May Wong -->
{% extends "mainPage.html" %}
{% block content %}
{% include "header.html" %}
{% include "flash.html" %}

<h1 class="header">Create New Movie Item</h1>
<form action="{{url_for('newMovie')}}"
  method="POST">
  <label for="movieName">Movie Name:</label>
  <input type ="text" maxlength="30" class="form-control" name="movieName" placeholder="Movie's Name">

  <label for="directorName">Director Name:</label>
  <input type ="text" maxlength="30" class="form-control" name="directorName" placeholder="Director's Name">

  <label for="description">Description:</label>
  <textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the movie"></textarea>

  <label for="category">Genres:</label>
  <select name="category">
    <option value="" selected="selected"></option>
    <option value="Historical Fiction">Historical Fiction</option>
    <option value="Drama">Drama</option>
    <option value="Action">Action</option>
    <option value="Romance">Romance</option>
    <option value="Sport">Sport</option>
    <option value="Crime">Crime</option>
    <option value="Comedy">Comedy</option>
    <option value="Adventure">Adventure</option>
    <option value="Travel">Travel</option>
  </select>

  </br>
  <input type="submit" value ="Create">
  <a href = "{{url_for('showCatalog')}}"><button type="button">Cancel</button></a>
  </br></br>
</form>

{% endblock %}
